/* project.jsp 에서 사용하는 css */

/* category와 관련있음 */
.fl { float: left; }

.handles span { cursor: move; }

li.highlight { background: #FEE25F; }

.connected {
  float: left;
  width: 200px;
}

/* 일정과 관련있음 */
.con { margin-top:20px; }

.category_class{
display: inline-block;
list-style:none;
float:left;
width:300px;
	
}

.li_common_style{
display: inline-block;
list-style:none;
float:left;
width:300px;
}

.li1 li{

border: 1px #000000 solid;
margin-top:10px;
margin-bottom:10px;

}

.li2 li{
border: 1px #000000 solid;
margin-top:10px;
margin-bottom:10px;
}

/* 모달창 */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

