<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- 줄여서 지칭 -->
		<!-- 공지사항 S -->
		<typeAlias type="kosta.model.module.vo.Notice" alias="Notice" />
		<typeAlias type="kosta.model.module.vo.NoticeSearch" alias="NoticeSearch" />
		<!-- 공지사항 E -->
		<typeAlias type="kosta.model.module.vo.ApprovalDraft" alias="ApprovalDraft" />
		<typeAlias type="kosta.model.module.vo.ApprovalSearch" alias="ApprovalSearch" />
		<typeAlias type="kosta.model.module.vo.ApprovalVacation" alias="ApprovalVacation" />
		<typeAlias type="kosta.model.module.vo.ApprovalExpence" alias="ApprovalExpence" />
		<!-- 스케쥴 -->
		<typeAlias type="kosta.model.module.vo.ScheduleProject" alias="Project" />
		<typeAlias type="kosta.model.module.vo.ScheduleCategory" alias="Category" />	
		<typeAlias type="kosta.model.module.vo.ScheduleCalender" alias="Calender" />
		<typeAlias type="kosta.model.module.vo.ScheduleEmployee" alias="Employee" />
	
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			
			<!-- 커넥션 풀 방식 -->
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle" />
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<!-- 매퍼 매핑 -->
		<!-- 공지사항 -->
		<mapper resource="kosta/mapper/Notice.xml" />
		<mapper resource="kosta/mapper/Approval.xml"/>
		<!-- 일정 -->
		<mapper resource="kosta/mapper/Schedule.xml" />
		
	</mappers>
	
</configuration>
